html{
  background-color: lightblue;
  box-sizing: border-box;
}
html > * {
  box-sizing: inherit;
}
header{
  background-color: turquoise;
}
body{
  max-width: 1000px;
  margin: 0 auto;
  font-family: Calibri, Arial, sans-serif;
  background-color: white;
  padding: 1em;
}
aside{
  background-color: cornflowerblue;
}
footer{
  color: white;
  background-color: black;
}
/*form styles*/
input, textarea, label{
  display: block;
  width: 100%;
  margin: .2em 0;
}
/* feedback */
.error {
  background-color: #ffe9e0;
  border-color: #ffc4ad;
}
label.error {
  padding: .2em .5em;
}
.feedback {
  background: #fcfae6;
  color: #857a11;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px khaki;
}
.feedback:before {
  content: "";
  font-family: fontawesome;
  color: #e4d232;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback li:before {
  border-left-color: #f6f0b9;
}
.feedback.error {
  background: #ffe9e0;
  color: #942a00;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px lightsalmon;
}
.feedback.error:before {
  content: "";
  font-family: fontawesome;
  color: #ff5714;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback.error li:before {
  border-left-color: #ffc4ad;
}
.feedback.success {
  background: #98eee6;
  color: #08322e;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px turquoise;
}
.feedback.success:before {
  content: "";
  font-family: fontawesome;
  color: #1aa093;
  margin-left: -1.5em;
  margin-right: .5em;
}
.feedback.success li:before {
  border-left-color: #6ce7db;
}
@media screen and (min-width: 500px){
  main{
    width: 65%;
    float: right;
  }
  aside{
    width: 32%;
    float: left;
  }
  footer{
    clear: both;
  }
}
